# style.css
*, *::after, *::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(9, 9rem);
	grid-template-rows: 7rem 7rem 7rem 7rem 7rem 7rem 7rem;
	gap: .5rem;
	cursor: pointer;
	justify-content: center;
	justify-items: center;
	padding-top: 1rem;
	background-color: #339933
}

.deck {
	height: 100%;
	width: 100%;
	border: 1px solid black; 
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	border-radius: .5rem;
	color: black;
	background-color: #668099;
}

.card-slot {
	height: 100%;
	width: 50%;
	border: 1px solid black; 
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	border-radius: 1rem;
}

.player1Hand {
	width: 70%;
	font-size: 2rem;
	background-color: white;
	border-radius: 1rem;
	padding: 0.2rem;

}

.red {
	color: red;
}